{% extends 'gemaBundle::layout.html.twig' %}
{% block gema_navbar_activos %}active{% endblock %}
{% block gema_breadcrumb %}
    <li><a href="{{path('factura')}}">Facturas</a></li>
    <li class="active">Nueva</li>
    {% endblock %}
    {% block gema_page -%}
    <div class="page-header">
        <h2>Crear Factura</h2>
    </div>

    {{ form(form) }}

{% endblock %}
{% block custom_javascripts %}
    <script>
        $(document).ready(function () {
            $('<a href="{{path('factura')}}" class="btn btn-default m-l-10 btn-cancel">Cancelar</a>').insertAfter('#gema_gemabundle_factura_submit');
        });
    </script>    
{% endblock %}
