<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
        <meta charset="UTF-8" />
        <style type="text/css">
            table{
                width: 100%;
                text-align: left;       
            }

            table tr{
                padding: 5px 10px;
            }
            table tr td{
            }
            .contenido td{
                font-size: 10pt;
                font-weight: 200;
            }
            .record_properties{
                border: 1px solid #8B7958;
            }
            .record_properties tr td{
                border-bottom: 1px solid #8B7958;
                border-right: 1px solid #8B7958;
            }            
            .record_properties thead tr th{
                border-bottom: 1px solid #8B7958;
                border-right: 1px solid #8B7958;
            }
            .record_properties tr:last-of-type td{
                border-bottom: none;
            }
            .record_properties tr td:last-of-type, .record_properties thead tr th:last-of-type{
                border-right: none;
            }
        </style>
    </head>
    <body>
        <table style="width: 100%" class="header list">
            <tr style="text-align: center">
                <td style="width: 100%; vertical-align: middle;">
                    <h2>REPORTE ORDEN DE TRABAJO</h2>
                </td>
            </tr>
        </table>
        <div class="table-responsive">
            <table class="record_properties list" id="data-table-command" >
                <thead>
                    <tr class="separate">         
                        <th >Orden de Trabajo</th>  
                        <th >Plan</th>                                                                        
                        <th >Tiempo Total</th>                                                                        
                        <th >Costo Total</th>                                                                        
                        <th >Cumplida</th>                                                                        
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr class="contenido" style="text-align: center">
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.planMtto }}</td>
                            <td>{{ entity.tiempoTotal }}/horas</td>
                            <td>$ {{ entity.costoTotal | number_format(2) }}</td>
                            <td>{%if entity.cumplida == FALSE %}No
                            {% else %}
                                Si
                                {% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </body>
            </html>