{% extends 'gemaBundle::layout.html.twig' %}
{% block gema_page -%}
    <h3>Tipos de Actividades</h3>
    {% if entities is empty %}
        <div class="bs-callout bs-callout-info">
            <i class="fa fa-info-circle img-responsive info_icon"></i>
            <h4>Aviso</h4>
            <p>No existen registros de tipos de actividades en la base de datos.</p>
        </div>
    {% else %}
        <div class="table-responsive">
            <table class="record_properties table table-hover table table-striped table-vmiddle" id="data-table-command" data-ajax="true" data-url="{{ path('tipoactividad') }}" >
                <thead>
                    <tr>
                        <th data-column-id="tipo" >Tipo</th>                                                                        
                        <th colspan="3" data-formatter="commands">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    {% endif%}


    <ul class="pager">
        <li class="next"><a href="{{ path('tipoactividad_new') }}"><i class="fa fa-plus-circle"></i>
                Nuevo Tipo de Actividad
            </a></li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var url = "";
        $("#data-table-command").bootgrid({
            css: {
                icon: 'md icon',
                iconColumns: 'md-view-module',
                iconDown: 'md-expand-more',
                iconRefresh: 'md-refresh',
                iconUp: 'md-expand-less'
            },
            formatters: {
                "commands": function(column, row) {
                    return "<a href='" + Routing.generate('tipoactividad_edit', {id: row.id}) + "'  class=\"btn btn-icon command-edit\" ><span class=\"md md-edit\"></span></a> " +
                            "<a href='" + Routing.generate('tipoactividad_delete', {id: row.id}) + "'  class=\"btn btn-icon command-delete\" ><span class=\"md md-delete\"></span></a>";
                }
            }, templates: {
                loading: "<tr><td colspan='2' class=\"loading\"><div class='loading'><img src='{{ asset('bundles/gema/images/loading.gif') }}' class='img-responsive'></div></td></tr>"
            }
        });
    </script>
{% endblock  %}
